*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    justify-content: center;
    padding: 10px;
    display: flex;
    background-color: beige;
}
#text-logo{
    font-weight: 700;
}
.nav-top{
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}
.menu{
   display: flex;
   background-color: aqua;
}
.list-menu{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.list-menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}