*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: beige;
    border-bottom: solid 1px rgba(200, 200,200 ,0.5);
}
.logo{
    display: flex;
    align-items: center;
    width: 40%;
    gap:15px
}
#text-logo{
    font-weight: 700;
    display: inline-flex;

}
.menu{
   display: flex;
   gap: 15px;
}
.list-menu{
    display: inline-flex;

}
.list-menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.list-menu a:hover{
    text-decoration: none;
    color: rgb(214, 196, 196);
    font-weight: 500;
    border-bottom: 2px solid rgb(214, 196, 196);
    transition: .4s;
}
section{
    background-color: #dedfd9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-principal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.text-principal h1, p {
    color: #933e20;
}
.text-principal p{
    text-align: justify;
    font-size:larger;
    font-weight: 500;
    color: #8a5a49;
}
.card-box-prod{
    background-color: aliceblue;
    width: 300px;
    row-gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-box-prod span{
    align-self: flex-start;
    font-weight: 700;
}
.card-box-prod p{
   background-color: rgb(28, 50, 109);
   border-radius: 5px;
   padding: 10px;
   color: rgb(255, 255, 255);
   margin-left: -11px;
   margin-right: -11px;
   margin-bottom: -11px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   font-weight: 500;
   text-align: left;
   
}
#lanche_img{
    width: 200px;
    border-radius: 10px;
    background-color: aqua;
}
.title-card{
  

}
.content-menu-section{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px;
    background-color: #0c112b;
}
#menu-section{
    display: inline;
    
}